<!-- VIEW: REGISTER -->
<section id="view-register" class="view-section">
    <div class="form-card">
        <h2>Register</h2>
        <form id="form-register">
            <div class="form-group">
                <label for="reg-username">Username</label>
                <input type="text" id="reg-username" placeholder="Pilih username" required>
            </div>
            <div class="form-group">
                <label for="reg-password">Password</label>
                <input type="password" id="reg-password" placeholder="Pilih password" required>
            </div>
            <button type="submit" class="btn btn-primary" style="width: 100%; justify-content: center;">Register</button>
        </form>
        <div class="auth-switch">
            Sudah punya akun? <a href="#" id="switch-to-login">Login di sini</a>
        </div>
    </div>
</section>
